*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topArea{
    position: relative;
    bottom: 1em;
}
.main-header{
    position: relative;
    top: .7em;
}
html,body{
    margin: 0;
    padding: 0;
    background-color: #1320B0;
    color: #fff;
    font-family:'Times New Roman', Times, serif;
}
.nav ul{
    color: #fff;
}
.nav li{
    z-index: 2;
    position: relative;
    top: .7em;
    left: 46em;
    line-height: 2em;
    margin: .4em .5em .5em;
    display: inline;
    text-align: right;
}
.nav a{
    color: #fff;
    position: relative;
    bottom: .2em;
    display: inline;
    
    text-decoration: none;
    font-size: 1.5em;
}
.nav a:hover, a:focus{
    /*color: gray;*/
    opacity: .8;
}
.main-nav{
    text-align: center;
}
.linkedIn{
    position: relative;
    bottom: -.3em;
    right: .1em;
    padding: .1em;
    width: 2em;
    /*height: auto;*/
}
.name{
    z-index: 2;
    position: relative;
    top: .3em;
    left: 2em;
    display: inline-block;
    font-size: 2em;
    float:none;
}
.linkedPic{
    position: relative;
    left: 3em;
    bottom: 2em;
    width: 13em;
    border-radius: 50%;
    margin-top: 4em;
    /*height: auto;*/
}
.Caption{
    position: relative;
    bottom: 4.5em;
    left: 6em;
    width: 23em;
    font-size: 3em;
    
}
.picWithCap{
    margin-top: 3em;
}
.Intro{
    display: block;
}
.IntroHeader{
    text-align:center;
    position: relative;
    top: -6.3em;
    right: 5em;
    font-size: 1.2em;
}
.MainP{
    display: block;
    width: 30em;
    margin-left: 40em;
    margin-top: -7.9em;
    font-size: 1.2em;
    line-height: 2em;
}
.Line{
    width: 8em;
    margin-left: 24em;
    position: relative;
    top: -6.7em;
}
.blackSpace{
    z-index: 1;
    position: relative;
    bottom: 1.5em;
    background-color: #0f0f0f;
    line-height: 3em;
    width: 92em;
}
