*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    background-color: #1320B0;
    color: #fff;
    font-family:'Times New Roman', Times, serif
}
.nav ul{
    background-color: #0F0F0F;
    color: #fff;
}
.nav li{
    margin: 10px 10px 0px 10px;
    display: inline-block;
    float: right;
}
.nav a{
    color: #fff;
    display: inline-block;
    padding: .5em;
    text-decoration: none;
    font-size: 1.4rem;
}
.nav a:hover, a:focus{
    /*color: gray;*/
    opacity: .8;
}
.main-nav{
    text-align: center;
}
.linkedIn{
    width: 25px;
    height: auto;
}
.name{
    margin-top: .3rem;
    margin-bottom: .4rem;
    text-align: center;
    display: inline-block;
    font-size: 2.5rem;
    float:none;
}
.linkedPic{
    margin-left: 80px;
    width: 300px;
    border-radius: 50%;
    height: auto;
}
.Caption{
    width: 50ch;
    font-size: 5rem;
    
}
.picWithCap{
    margin-top: 100px;
}
.IntroHeader{
    text-align: center;
}
.Intro{
    font-size: 18pt;
    column-count: 2;
    column-width: 20px;
    margin-left: 450px;
}
